# ignore test files along with mocks and fixtures
*.mock.js
*.fixture.js
*__mocks__*

# ignore 3rd party libs
src/libs

# ignore images folder
src/images

# extravagant stuff
public/
docker/
cypress/
build/
coverage/

# IDE configuration
.vscode/
.idea/

node_modules/
README.md